(
.notdef,
NULL,
CR,
space,
adakbindiguru,
bindiguru,
visargaguru,
aguru,
aaguru,
iguru,
iiguru,
uguru,
uuguru,
eeguru,
aiguru,
ooguru,
auguru,
kaguru,
khaguru,
gaguru,
ghaguru,
ngaguru,
caguru,
chaguru,
jaguru,
jhaguru,
nyaguru,
ttaguru,
tthaguru,
ddaguru,
ddhaguru,
nnaguru,
taguru,
thaguru,
daguru,
dhaguru,
naguru,
paguru,
phaguru,
baguru,
bhaguru,
maguru,
yaguru,
raguru,
laguru,
lanuktaguru,
vaguru,
sanuktaguru,
saguru,
haguru,
nuktaguru,
aamatraguru,
imatraguru,
iimatraguru,
umatraguru,
uumatraguru,
eematraguru,
aimatraguru,
oomatraguru,
aumatraguru,
halantguru,
udaatguru,
khanuktaguru,
ganuktaguru,
januktaguru,
rraguru,
phanuktaguru,
zeroguru,
oneguru,
twoguru,
threeguru,
fourguru,
fiveguru,
sixguru,
sevenguru,
eightguru,
nineguru,
tippiguru,
addakguru,
iriguru,
uraguru,
ekonkarguru,
yakashguru,
uni0A76,
uni262C,
unuktaguru,
uunuktaguru,
kanuktaguru,
ghanuktaguru,
nganuktaguru,
canuktaguru,
chanuktaguru,
jhanuktaguru,
nyanuktaguru,
ttanuktaguru,
tthanuktaguru,
ddhanuktaguru,
nnanuktaguru,
tanuktaguru,
thanuktaguru,
danuktaguru,
dhanuktaguru,
nanuktaguru,
panuktaguru,
banuktaguru,
bhanuktaguru,
manuktaguru,
yanuktaguru,
ranuktaguru,
vanuktaguru,
hanuktaguru,
rasubscriptguru,
hasubscriptguru,
vasubscriptguru,
yapostformguru,
rasubscripthalantguru,
hasubscripthalantguru,
vasubscripthalantguru,
udaathalantguru,
yakashhalantguru,
rasubscriptuguru,
hasubscriptuguru,
vasubscriptuguru,
udaatuguru,
yakashuguru,
rasubscriptuuguru,
hasubscriptuuguru,
vasubscriptuuguru,
udaatuuguru,
yakashuuguru,
karaguru,
rasubscript1guru,
hasubscript1guru,
vasubscript1guru,
phunuktaguru,
phuunuktaguru,
iibindiguru,
ubindiguru,
uubindiguru,
eebindiguru,
aibindiguru,
oobindiguru,
aubindiguru,
iimatrabindiguru,
eematrabindiguru,
aimatrabindiguru,
oomatrabindiguru,
aumatrabindiguru,
ubindinuktaguru,
uubindinuktaguru,
addakbaraltguru,
umatralowguru,
uumatralowguru,
oomatra1guru,
oomatrabindi1guru,
uuUIguru,
uumatraUIguru,
udaatUIguru,
yakashUIguru,
uunuktaUIguru,
hasubscriptUIguru,
vasubscriptUIguru,
rasubscripthalantUIguru,
hasubscripthalantUIguru,
vasubscripthalantUIguru,
udaathalantUIguru,
yakashhalantUIguru,
rasubscriptuUIguru,
hasubscriptuUIguru,
vasubscriptuUIguru,
udaatuUIguru,
yakashuUIguru,
rasubscriptuuUIguru,
hasubscriptuuUIguru,
vasubscriptuuUIguru,
udaatuuUIguru,
yakashuuUIguru,
hasubscript1UIguru,
vasubscript1UIguru,
phuunuktaUIguru,
uubindiUIguru,
uubindinuktaUIguru,
umatralowUIguru,
uumatralowUIguru,
iiaddakguru,
uaddakguru,
uuaddakguru,
eeaddakguru,
aiaddakguru,
ooaddakguru,
auaddakguru,
iimatraaddakguru,
eematraaddakguru,
aimatraaddakguru,
oomatraaddakguru,
aumatraaddakguru,
unuktaaddakguru,
uunuktaaddakguru,
uuUIaddakguru,
uunuktaUIaddakguru,
uraaddakguru,
kaUIguru,
gaUIguru,
taUIguru,
baUIguru,
raUIguru,
laUIguru,
sanuktaUIguru,
umatralow1guru,
exclam.guru,
quotedbl.guru,
numbersign.guru,
percent.guru,
quotesingle.guru,
parenleft.guru,
parenright.guru,
asterisk.guru,
plus.guru,
comma.guru,
hyphen.guru,
period.guru,
slash.guru,
zero.guru,
one.guru,
two.guru,
three.guru,
four.guru,
five.guru,
six.guru,
seven.guru,
eight.guru,
nine.guru,
colon.guru,
semicolon.guru,
less.guru,
equal.guru,
greater.guru,
question.guru,
bracketleft.guru,
backslash.guru,
bracketright.guru,
asciicircum.guru,
underscore.guru,
braceleft.guru,
bar.guru,
braceright.guru,
asciitilde.guru,
uni00A0.guru,
sfthyphen.guru,
endash.guru,
emdash.guru,
quoteleft.guru,
quoteright.guru,
quotedblleft.guru,
quotedblright.guru,
ellipsis.guru,
multiply.guru,
divide.guru,
minus.guru,
uni20B9.guru,
uni0951,
uni0952,
danda.guru,
dbldanda.guru,
uniA830,
uniA831,
uniA832,
uniA833,
uniA834,
uniA835,
uniA836,
uniA837,
uniA838,
uniA839,
uni2010,
uni200B,
uni200C,
uni200D,
uni25CC,
uaddakaltguru,
eematraaddakaltguru,
oomatraaddakaltguru
)